{% extends "base.html" %}
{% load static %}

{%  block detail_buket %}



    <div class="container" >
        <div class="row" style="">
            <div class="col-md-4 offset-2" style="padding: 0; background: #F3F3F3; text-align: center;">
                <h4 style="margin: 20px">{{ object.product_name }}</h4>
                <img src="{{ object.image_basket.url }}" alt="" style="width: 50%; border: solid 1px">
            </div>
             <div class="col-md-4 " style="padding: 0; background: #F3F3F3; color: #65696D; ">
                 <!-- <p style="background: sandybrown;">что то</p><br> -->
                 <br>
                 <p><span id="price_span1" style="text-align: center; color: brown; font-size: small; margin: 3px">{{ object.price }}</span><span style="text-align: center; color: brown; font-size: small; ">UAH</span></p>

                 <span style="">
                    Размер букетаp
                    <strong >
                        <input id="s" checked="checked" onclick="this.checked=!this.isChecked; smoll();" type="radio"  onmousedown="this.isChecked=this.checked;" name="myradio" value="s" title="s"> S (2 кг)
                        <input id="m" onclick="this.checked=!this.isChecked; medium()"  type="radio" onMouseDown="this.isChecked=this.checked;" name="myradio" value="l" title="m"> M (3 кг)
                        <input id="l" onclick="this.checked=!this.isChecked; lagre()" type="radio" onmousedown="this.isChecked=this.checked;" name="myradio" value="m" title="s"> L (4 кг)
                    </strong>
                  </span><br>
                <form action="" style="margin-top: 15px">
                 Добавить шоколад
                 <select onclick="" name="" id="dop_chocolate" title="chocolate" >
                     <option  value="">Нет</option>
                     <option  data-dop="80.00" id="" value="80">Да (+ 80.00 UAH) </option>
                 </select>
                </form>
                 <br>
                <span>Цена с опциями: </span><span id="price_span2">{{ object.price }} </span><span> UAH</span>
                 <hr>

                <!-- inout количества товара -->
                <form id="basket_add" class="basket_add" action="{% url 'basket_product_url' %}">{% csrf_token %}</form>
                <div class="quantity-block">
                    <button class="quantity-arrow-minus"> - </button>
                        <input id="basket_add_input" class="quantity-num basket_add_input" name="basket_add_input" style="width: 10%; text-align: center" type="number" value="1" maxlength="100" title="Количество" form="basket_add"/>
                    <button class="quantity-arrow-plus"> + </button>
                <button id="submit_button"  style="color: white; border-radius: 5px;" class="btn btn-warning btn-bay submit_button" form="basket_add" type="submit"
                        data-id="{{ object.id }}"
                        data-name="{{ object.product_name }}"
                        data-price="{{ object.price }}"
                        data-session_key="{{ session_key }}"
                        data-images="{{ object.image_basket.url }}"
                    >В КОРЗИНУ
                </button>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2" style="background: #F3F3F3; color: #65696D">
                <p style="border: groove; margin-top: 20px">Контейнер может меняться.</p>
                <p style="padding-left: 10px; font-size: small">Ингредиенты:</p>

                <ul style="padding-left: 20px">
                    <li>клубника</li>
                    <li>ананас</li>
                    <li>виноград</li>
                    <li>дыня</li>
                    <li>апельсин</li>
                </ul>


                <h3 style="background: #F3F3F3; color: #65696D;padding: 10px">Сопутствующие товары</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2" style=""></div>
        {% for foo in companion %}
            <div class="col-md-2" style="background: #F3F3F3; color: #65696D;padding: 10px">
                <img style="width: 100%" src="{{ foo.image_product.url }} " alt="">
                <p  style="margin: 10px; color: orange; text-align: center; font-size: 12px">{{ foo.price }} UAH</p>
                <p style="margin: 10px; color: #65696D; text-align: center; font-size: 10px">{{ foo.product_name }}</p>

                <div style="text-align: center">
                    <form id="formprice" action="">
                        <button style="color: white; " class="btn btn-warning">В КОРЗИНУ</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2" style="background: #F3F3F3; color: #65696D;padding: 10px">
                <div class="card text-center">
                    <div class="card-header">
                        <strong>
                            КОМЕНТАРИИ
                        </strong>
                    </div>
                </div>
            </div>
        </div>


</div>



{% endblock %}
