{% extends "base.html" %}
{% load static %}


{% block carusel %}



    <!-- Карусель -->
    <div class="container">
        <div class="row">
            <div style="padding: 0" class="col-md-8 offset-2">  <!-- Карусель, на 8 блоков из 12, отступ   -->
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="{% url "buket" %}"><img class="d-block w-100"
                                 src="{% static "media/images/8-03.jpg" %}/?auto=yes&bg=777&fg=555&text=First slide"
                                 alt="First slide"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="{% url "chocolate" %}"><img class="d-block w-100"
                                 src="{% static "media/images/8-04.jpg" %}/?auto=yes&bg=666&fg=444&text=Second slide"
                                 alt="Second slide"></a>

                        </div>
                        <div class="carousel-item">
                            <a href="{% url "basket" %}"><img class="d-block w-100"
                                 src="{% static "media/images/8-05.jpg" %}/?auto=yes&bg=555&fg=333&text=Third slide"
                                 alt="Third slide"></a>

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block content %}



    <div class="container">
        <div class="row" style="height: 270px">
            <div  style="background-color: #F3F3F3;" class="col-md-2 offset-2" >
                <span style="text-align: center;">
                   <a style="" href="{% url "buket" %}"><img style="margin-top: 10px" class="img-fluid logo" src="{% static "media/images/landing/mainbuket.jpg" %}" alt=""></a>
                    <a style="color: orange;" href="{% url "buket" %}"><p style="font-size: 10px; margin-bottom: 5px; margin-top: 5px">ФРУКТОВЫЕ БУКЕТЫ</p></a>
                    <p style="font-size: x-small; color: #65696D">Уникальный фруктовый букет расскажет о ваших чувствах лучше всяких слов</p>
                </span>
            </div>
            <div  style="background-color: #F3F3F3" class="col-md-2">
                <span style="text-align: center;">
                   <a href="{% url "chocolate" %}"><img class="img-fluid logo" style="margin-top: 10px" src="{% static "media/images/landing/mainb02.jpg" %}" alt=""></a>
                    <a style="color: orange;" href="{% url "chocolate" %}"><p style="font-size: 10px; margin-bottom: 5px; margin-top: 5px">ФРУКТЫ В ШОКОЛАДЕ</p></a>
                    <p style="font-size: x-small; color: #65696D">Свежие фрукты в шоколаде станут идеальным подарком для вашей второй половинки</p>
                </span>
            </div>
            <div  style=" background-color: #F3F3F3" class="col-md-2">
                <span style="text-align: center;">
                   <a href="{% url "basket" %}"><img class="img-fluid logo" style="margin-top: 10px" src="{% static "media/images/landing/m03.jpg" %}" alt=""></a>
                    <a style="color: orange;" href="{% url "basket" %}"><p style="font-size: 10px; margin-bottom: 5px; margin-top: 5px">Подарочные корзины</p></a>
                    <p style="font-size: x-small; color: #65696D">Креативный презент - ароматные, отборные фрукты в корзине так приятно дарить и получать</p>
                </span>
            </div>
            <div  style=" background-color: #FFFFFF" class="col-md-2">
                <span style="text-align: center;">
                   <a href="{% url "air" %}"><img class="img-fluid logo" style="margin-top: 10px" src="{% static "media/images/landing/ballon-005-min.jpg" %}" alt="logo"></a>
                    <ul style="margin: 0">
                        <li><a style="color: #65696D;" href="{% url "air" %}"><p style="font-size: x-small; margin-bottom: 1px; text-align: left">ВОЗДУШНЫЕ ШАРИКИ</p></a></li>
                        <li> <p style="font-size: x-small; color: #65696D; text-align: left; margin: 0"><a style=" color: #65696D" href="">БЛОГ</a></p></li>
                    </ul>
                    <a href="https://www.facebook.com/frutado.com.ua?fref=ts"><img style="width: 30%" class="" src="{% static "media/images/social/facebook.png" %}" alt="logo"></a>
                    <a href="https://twitter.com/FRUTADO_FB"><img style="width: 30%" class="" src="{% static "media/images/social/twitter.png" %}" alt="logo"></a>
                    <a href="https://www.instagram.com/frutado.com.ua/"><img style="width: 30%" class="" src="{% static "media/images/social/email.png" %}" alt="logo"></a>
                </span>
            </div>
        </div>
    </div>

    <br>
    <br>


    <!-- Слайдер в группе на 4 картинки  -->

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12" style="">
                <div class="page-header">
                    <h3>НАШИ ЛЮБИМЫЕ БУКЕТЫ</h3>
                    <p style="margin-top: 15px">на любой вкус</p>
                </div>

                <div class="carousel slide" id="myCarousel">
                    <div class="carousel-inner">
                        <div class="item active">

                            <ul class="thumbnails">
                                {% for foo in product1 %}
                                    <li class="col-md-3">
                                        <div class="thumbnail">
                                            {% if request.user.is_authenticated or request.user.is_staff %}
                                                <a href="{{ foo.get_absolute_url_carousel }}"><img src="{{ foo.image_product.url }}" alt=""></a>
                                            {% else %}
                                                <a class="open_fast_reg" href=""><img src="{{ foo.image_product.url }}" alt=""></a>
                                            {% endif %}
                                        </div>
                                        <div class="caption" style="position: relative">
                                            <h5 style="">{{ foo.product_name }}</h5>
                                            <p>{{ foo.price }} UAH</p>
                                            {% if request.user.is_authenticated or request.user.is_staff %}
                                                <form  action="{{ foo.product.get_absolute_url_carousel }}">
                                                    <a style="" class="btn btn-warning" href="{{ foo.get_absolute_url_carousel }}">&raquo; Выбрать</a>
                                                </form>
                                            {% else %}
                                                <div  style="">
                                                <a href="" class="btn btn-warning open_fast_reg">&raquo; Выбрать</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div><!-- /Slide1 -->

                        <div class="item">
                           <ul class="thumbnails">
                                {% for foo in product2 %}
                                    <li class="col-md-3">
                                        <div class="thumbnail">
                                            {% if request.user.is_authenticated or request.user.is_staff %}
                                                <a href="{{ foo.get_absolute_url_carousel }}"><img src="{{ foo.image_product.url }}" alt=""></a>
                                            {% else %}
                                                <a class="open_fast_reg" href=""><img src="{{ foo.image_product.url }}" alt=""></a>
                                            {% endif %}
                                        </div>
                                        <div class="caption" style="position: relative">
                                            <h5 style="">{{ foo.product_name }}</h5>
                                            <p>{{ foo.price }} UAH</p>
                                            {% if request.user.is_authenticated or request.user.is_staff %}
                                                <form  action="{{ foo.product.get_absolute_url_carousel }}">
                                                    <a style="" class="btn btn-warning" href="{{ foo.get_absolute_url_carousel }}">&raquo; Выбрать</a>
                                                </form>
                                            {% else %}
                                                <div  style="">
                                                <a href="" class="btn btn-warning open_fast_reg">&raquo; Выбрать</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!-- /Slide2 -->

                        <div class="item">
                            <ul class="thumbnails">
                                {% for foo in product3 %}
                                    <li class="col-md-3">
                                        <div class="thumbnail">
                                            {% if request.user.is_authenticated or request.user.is_staff %}
                                                <a href="{{ foo.get_absolute_url_carousel }}"><img src="{{ foo.image_product.url }}" alt=""></a>
                                            {% else %}
                                                <a class="open_fast_reg" href=""><img src="{{ foo.image_product.url }}" alt=""></a>
                                            {% endif %}
                                        </div>
                                        <div class="caption" style="position: relative">
                                            <h5 style="">{{ foo.product_name }}</h5>
                                            <p>{{ foo.price }} UAH</p>
                                            {% if request.user.is_authenticated or request.user.is_staff %}
                                                <form  action="{{ foo.product.get_absolute_url_carousel }}">
                                                    <a style="" class="btn btn-warning" href="{{ foo.get_absolute_url_carousel }}">&raquo; Выбрать</a>
                                                </form>
                                            {% else %}
                                                <div  style="">
                                                <a href="" class="btn btn-warning open_fast_reg">&raquo; Выбрать</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!-- /Slide3 -->

                    </div>


                <!--  в css тут настройки для контроль панели
                    .carousel-control-prev-icon {
                                                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
                    }
                    .carousel-control-next-icon {
                                                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
                    }
                -->

                    <div>
                        <a style="left: -55px;top: -70px;" class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a style="right: -55px;top: -70px;" class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span style="" class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div><!-- /#myCarousel -->
            </div><!-- /.span12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <br>

    <div class="container">
        <div class="row">
            <div style="padding: 0" class="col-md-8 offset-2">
                 <a style="color: orange;" href="{% url "chocolate" %}">
                    <img class="" style="width: 100%; " src="{% static "media/images/main_banner_candy_RU.jpg" %}" alt="First slide">
                 </a>

            </div>
        </div>
    </div>

    <br>
    <br>

 <!-- всплываюшее окно - popup рендинговой страницы  -->
        <div class="popup_fast_reg" style="">
            <h5 style=" text-align: center; font-weight: bold;">Для заказа необходима регистрация</h5>
            <div style="text-align: center; padding:15px" class="card-footer" id="hiden">
                <a style="background-color: brown" href="/accounts/login" class="btn btn-secondary">Зарегистрироватся</a>
                <a style="background-color: brown" href="{{ object.get_absolute_url }}" class="btn btn-secondary">Вернуться к сайту</a>
            </div>


        </div>
        <div class="bg_popup_reg" style=""></div>



    <script>

        $('.open_fast_reg').click(function (event) { // Описуем что будет происходить по клику на кнопку с класом .open_fast
            event.preventDefault();
            console.log('ok');
            $('.popup_fast_reg').css({"top": $(window).scrollTop() + 220}).addClass('active'); // ccs свойство top, проскроливать + 220
            var bg_popup = $('.bg_popup_reg');
            bg_popup.fadeIn(); // fadeIn() - плавно появляется
            bg_popup.click(function () {   // удаляем при нажати на на люьом месте кроме окна котрое появилось
            $('.popup_fast_reg').removeClass('active');
            bg_popup.fadeOut();
            });
         });

    </script>




{% endblock %}