{% extends "base.html" %}
{% load static %}

{% block form_submit %}

    <div  class="container" >
        <div class="row">

            {% if count %}  <!-- count прописан в контекстном процесоре -->
                <div style="" class="col-md-8 offset-2">
                    <p></p>
                    <span style="font-size: small; margin-left: 4px; color: grey; font-weight:bold;">Изображение</span>
                    <span style="font-size: small; margin-left: 90px; color: grey; font-weight:bold;">Название</span>
                    <span style="font-size: small; margin-left: 170px; color: grey; font-weight:bold;">Цена</span>
                    <span style="font-size: small; margin-left: 60px; color: grey; font-weight:bold;">Количество</span>
                    <span style="font-size: small; margin-left: 20px; color: grey; font-weight:bold;">Полная сумма</span>
                    <hr style="background-color: grey; font-weight: bold">
                </div>
            {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-2">
                            <br>
                            <h3 style="font-weight: bold; color: firebrick">Ваша корзина пуста</h3>
                            <img style="width: 90%" src="{% static "media/images/no.png" %}" alt="">
                        </div>
                    </div>
                </div>
            {% endif %}

            {% for foo in sesiion_in_basket %}
                <div class="col-md-8 offset-2">

                    <form id="checkout" class="checkout" method="post" action="{% url "checkout" %}">{% csrf_token %}
                        <div style="">
                            <img src="{{ foo.image_product.url }}" alt="" style="width: 15%;">
                            <span style="position: absolute; left: 130px; top: 50px; font-size: small; color: #65696D; font-weight: 600">{{ foo.product_name }}</span>
                            <span style="position: absolute; left: 430px; top: 50px; font-size: small; color: brown; font-weight:bold;">{{ foo.price_per_item }} UAH</span>
                            <span style="position: absolute; left: 565px; top: 50px; font-size: small; color: #65696D; font-weight:bold;">
                                    <input style="width: 25px; text-align: center" form="" name="" maxlength="100" type="number" value="{{ foo.product_nmb }}"> шт.
                            </span>
                            <span style="position: absolute; left: 740px; top: 50px; font-size: small; color: #65696D; font-weight:bold;"><a
                                    href="{{ foo.get_absolute_url_basket_del }}"><img src="{% static "images/delete2.png " %}" alt=""></a></span>
                            <span class="total_price" style="position: absolute; left: 640px; top: 50px; font-size: small; color: brown; font-weight:bold;">{{ foo.total_price }} UAH</span>
                        </div>
                        <hr style="background-color: grey; font-weight: bold">
                    </form>

                </div>
            {% endfor %}
            {% if count %}
            <div style="" class="col-md-8 offset-7">
                <br>
                <p style="margin-left: 1px; font-size: 16px; color: #65696D; font-weight: 600">Итого к оплате <span class="all_total_price" style="margin-left: 30px; color: brown; font-weight :bold; font-size: 16px">{{ all_total_price }},00 UAH</span></p>
            </div>

            <div style="" class="col-md-8 offset-8">
                <button form="checkout" style="margin-left: 74px" class="btn btn-warning">Оформить заказ</button>
            </div>
            {% endif %}

    </div>
        </div>
    <br>

{% endblock %}

