{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color: #FFFFFF">
<head>
    <meta charset="UTF-8">
    <title>Магазин подарков - Banana</title>




        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <!-- jquery 2.2.0-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script>

        <!--footer-->

        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


        <!-- static - styles.css, наш фаил со стилями должен быть ниже стилей bootstrap. что бы в нашем можно было переопредилить-->
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css"  %}">


</head>
<body>


        <div style="position: absolute; top: 10%; left: 5%">
            <img src="{% static 'images/under-construction.png' %}" alt="Сайт в разработке">
        </div>

<div class="container">
    <div class="row">
        <div style="padding-top: 10px; padding-bottom: 10px;"  class="col-md-2 offset-2">
            <span >
                <a style="padding-top: 5px" href="{% url "base" %}"><img class="img-fluid logo" src="{% static "media/images/banana.png" %}" alt="logo"></a>
            </span></div>
        <div style="padding-top: 60px;padding-bottom: 10px;padding-left: 0;padding-right: 0"  class="col-md-3">
            <span>
               <ul class="hr menu">
                   <li><a style="font-size: small; color: darkorange" href="{% url "pay" %}">Как оплатить</a></li>
                   <li><a style="font-size: small; color: darkorange" href="{% url "delivery" %}">Доставка</a></li>
                   <li><a style="font-size: small; color: darkorange" href="{% url "kids" %}">Акции</a></li>
                   <li><a style="font-size: small; color: darkorange" href="{% url "contact" %}">Контакты</a></li>
                </ul>
                <ul class="hr menu">
                   <li><a style="font-size: small; color: darkorange" href="">> UA</a></li>
                   <li><a style="font-size: small; color: darkorange" href="">> RU</a></li>
                </ul>
            </span></div>
        <div style=""  class="col-md-3">
            <span>
                <div style="padding-top: 30px;padding-bottom: 20px;padding-left: 30px" >
                    <button style="text-align: center; color: white; font-weight: 200; font-family: sans-serif;font-size: small; margin-bottom: 10px; border-radius: 2px 10px 2px ; padding: 2px 10px 2px" class="btn-warning open_fast" form="">Оставьте номер. Мы перезвоним</button>
                    <p style="font-family: Calibri; font-size: small; text-align: left">ЗАКАЗЫВАЙТЕ ПО ТЕЛЕФОНУ В КИЕВЕ</p>
                    <p style="font-family: Calibri; font-size: large; color: #342F2F; text-align: center">+38(066)55-44-333 (Viber)</p>
                </div>
            </span>
        </div>
    </div>
</div>



    <!-- меню -->
     <div class="container">
        <div class="row">
            <div  style="border: solid; background-color: #342F2F; margin-top: 5px; padding-bottom: 5px; padding-top: 10px" class="col-md-8 offset-2">
                <span>
                   <ul class="hr">
                       <li><a href="{% url "base" %}">ГЛАВНАЯ</a></li>
                       <li><a href="{% url "buket" %}">ФРУКТОВЫЕ БУКЕТЫ</a></li>
                       <li><a href="{% url "basket" %}">ПОДАРОЧНЫЕ КОРЗИНЫ</a></li>
                       <li><a href="{% url "chocolate" %}">ФРУКТЫ В ШОКОЛАДЕ</a></li>
                       <li><a href="">АКЦИИ</a></li>
                       <li><a href="">14 ФЕВРАЛЯ</a></li>
                       <li style="border: solid orange 1px"><a href="">Корзина пуста</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>

{% block menu %}{% endblock %}
{% block carusel %}{% endblock %}
{% block content %}{% endblock %}
{% block detail_carousel %}{% endblock %}
{% block buket %}{% endblock %}
{% block detail_buket %}{% endblock %}
{% block chocolate %}{% endblock %}
{% block detail_chocolat %}{% endblock %}
{% block air %}{% endblock %}
{%  block detail_air %}{% endblock %}
{% block form_submit %}{% endblock %}

<script src="{% static "js/script.js" %}"></script>


    <!-- footer -->
    <div class="" style="background-color: #4D4443;">
        <div class="" style="">
            <div style="padding: 0; background-color: #4D4443;" class="col-md-8 offset-2">
                <p style="padding-left: 15px; color: #AFA6A5; margin-left: 15%; margin-right: 15%; margin-top: 4%; margin-bottom: 4%;  border: dotted lightgray; text-align: left; font-size: small">
                    Фруктовый букет в Киеве от FRUTADO — вкусный необычный подарок на любой праздник </p>
            </div>
        </div>
    </div>

    <div style="background: #4D4443">
        <div class="container">
            <div class="row">
                <div style="" class="col-md-3 offset-2">
                    <span>
                        <br>
                        <a href=""><img style="width: 25%" class=""
                                        src="{% static "media/images/bank/mastercard.png" %}"
                                        alt="logo"></a>
                        <a href=""><img style="width: 25%" class=""
                                        src="{% static "media/images/bank/visa.png" %}" alt="logo"></a>
                    </span>
                </div>
                <div style="font-size: 10px; margin-bottom: 20px; color: #AFA6A5;" class="col-md-3 offset-2">
                    <p style="margin: 0">Звоните +38(095)79-47-621 </p>
                    <p style="margin: 0">Звоните +38(096)26-11-770 (VIBER)</p>
                    <p style="margin: 0">ежедневно с 9.00-21.00 </p><br>
                    <p style="margin: 0">Frutado © 2013-2017. Все права защищены</p>
                </div>
            </div>
        </div>
    </div>

<!-- всплываюшее окно - popup дендинговой страницы  -->
        <div class="popup_fast" style="">
            <div class="form">
                <form style="margin-top: 10px" id="form_popup" action="{% url 'test' %}" method="post">{% csrf_token %}
                    <span class="span_name" style="">Ваше имя</span>
                    <div class="input_name">{{ form.name }}</div>
                    <span class="span_phone" style="margin-left: 20%">Контактный телефон</span>
                    <div class="input_phone">{{ form.phone }}</div>
                </form>
                <div class="input_name"><button class="btn-warning buton_popup" form="form_popup">Отправить</button></div>
            </div>
        </div>
        <div class="bg_popup" style=""></div>


<script src="{% static "js/script.js" %}"></script>

    </body>
</html>